.main_wrap main .tab_wrap {
    width: 100%;
    display: flex; justify-content: flex-start; align-items: flex-start;
    padding-bottom: 48px;
}

/* ★ (좌) 카테고리 ★ */
.main_wrap main .tab_wrap .left_category {
    position: sticky; top: 44px; height: calc(100vh - 44px);
    background-color: #F5F6F8;
}
.main_wrap main .tab_wrap .left_category > ul {position: relative;}
.main_wrap main .tab_wrap .left_category > ul .category_list {
    width: 114px; height: 56px; position: relative;
    display: flex;
    background: transparent;
    transition: background 0.3s ease;
}
.main_wrap main .tab_wrap .left_category > ul .category_list .css_bg {
    width: 114px; height: 56px;
    position: absolute; background-color: #fff; color: #292b2b;
    will-change: transform, width;
    pointer-events: none;
    z-index: 0; /* 버튼보다 뒤로! */
}
.main_wrap main .tab_wrap .left_category > ul .category_list .list_btn {
    padding: 20px; 
    font-size: 14px; text-decoration: none; display: block;
    color: #292b2b; cursor: pointer;
    position: relative; z-index: 1;
}
.main_wrap main .tab_wrap .left_category > ul .category_list .list_btn > span {
    font-weight: 600; font-size: 15px; line-height: 18px;
}


/* ★ (우) 메뉴리스트 ★ */
.main_wrap main .tab_wrap .right_menu {
    width: 100%;
}
.main_wrap main .tab_wrap .right_menu > ul {
    position: sticky; top: 44px; height: 100%;
    overflow: scroll;
}
.main_wrap main .tab_wrap .right_menu > ul .menu_list {
    display: flex; justify-content: flex-start;
    flex-wrap: wrap; padding-bottom: 24px; width: 100%; 
}
.main_wrap main .tab_wrap .right_menu > ul .menu_list .menu_title {
    display: flex; justify-content: space-between;
    align-items: center;
    width: 100%; height: 48px;
    padding: 0px 12px 0px 20px; color: rgb(41, 32, 110); cursor: pointer;
}
.main_wrap main .tab_wrap .right_menu > ul .menu_list .menu_title .menu_bold {
    font-weight: 700; font-size: 18px; line-height: 22px;
}
.main_wrap main .tab_wrap .right_menu > ul .menu_list .menu_title > img {width: 24px;}

.main_wrap main .tab_wrap .right_menu > ul .sub_title {
    width: 50%; height: 48px; padding: 0 12px 0 20px;
    display: flex; justify-content: space-between; align-items: center;
    color: #292b2b; cursor: pointer;
}
.main_wrap main .tab_wrap .right_menu > ul .sub_title .menu_semibold {
    font-weight: 600; font-size: 15px; line-height: 18px;
}
.main_wrap main .tab_wrap .right_menu > ul .menu_list .sub_title > img {width: 24px;}