/* ★ 메인 배너 ★ */
.main_wrap main .main_bnr {}

/* 배너-공통 */
.main_wrap main .main_bnr .swiper {position: relative;}
.main_wrap main .main_bnr .swiper .swiper-wrapper {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide_css {width: 600px;}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide_css > a {
    margin: 0 16px; display: block;
    position: relative;
}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide_css > a > img {
    width: 100%; display: block; 
    border-radius: 10px;
}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide_css > a > .bnr_content {
    position: absolute; bottom: 0; left: 0; right: 0;
    padding: 0 30px 40px;
    color: #FFF; text-align: center;
}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide_css > a > .bnr_content .bnr_title {
    font-size: 2.00rem; line-height: 1.4; font-weight: 600;
}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide_css > a > .bnr_content .bnr_text {
    padding: 10px 0;
    font-size: 1.13rem; font-weight: 500;
}

/* 배너-개별 */
.main_wrap main .main_bnr .main_swiper {}
.main_wrap main .main_bnr .main_swiper .swiper-wrapper {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide1 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide2 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide3 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide4 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide5 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide6 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide7 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide8 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide9 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide10 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide11 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide12 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide13 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide14 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide15 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide16 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide17 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide18 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide19 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide20 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide21 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide22 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide23 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide24 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide25 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide26 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide27 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide28 {}
.main_wrap main .main_bnr .swiper .swiper-wrapper .slide29 {}

/* 배너-페이지번호  */
.main_wrap main .main_bnr .swiper .page_wrap {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; align-items: center;
    width: max-content; height: 18px; padding: 5px 10px;
    border-radius: 20px;
    position: absolute; right: 30px; bottom: 20px; z-index: 1;
}
.main_wrap main .main_bnr .swiper .page_wrap > span {
    color: #FFF;
    font-size: 0.69rem; font-weight: 500;
}
.main_wrap main .main_bnr .swiper .page_wrap > span:nth-child(2) {
    width: 1px; height: 10px; background: #FFF;
    display: inline-block;
    margin: 2px 6px;
}
.main_wrap main .main_bnr .swiper .page_wrap .current_page {}
.main_wrap main .main_bnr .swiper .page_wrap .all_page {}

/* ★ 카테고리 아이콘 ★ */
.main_wrap main .category {
    display: flex; flex-flow: row nowrap; 
    padding: 14px 16px 32px;
    overflow-x: scroll; scrollbar-width: none;
}
.main_wrap main .category > a {
    display: flex; flex-flow: column; align-items: center; justify-content: space-between;
    padding-right: 11px;
}
.main_wrap main .category > a > img {
    width: 64px; display: block;
}
.main_wrap main .category > a > span {
    font-size: 0.75rem; font-weight: 500; line-height: 1.4;
    text-align: center; overflow: hidden; white-space: nowrap;
    margin-top: 6px;
}

/* ★ 첫구매혜택+추천아이템 공통 선택자★ */
.main_wrap main > * .title {
    padding: 0 16px;
}
.main_wrap main > * h3 {
    font-size: 18px; font-weight: 600; line-height: 22px;
}

.main_wrap main > * .item_card {}
.main_wrap main > * .item_card .item_link {
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100%; z-index: 1;
}
.main_wrap main > * .item_card .item_img {
    position: relative; 
    margin-bottom: 5px;
}
.main_wrap main > *  .item_card .item_img .item_thum {
    overflow: hidden;
}
.main_wrap main > * .item_card  .item_img .item_thum > img {
    width: 100%; height: 100%;
    display: inline-block;
    transition: transform 0.3s ease;
}
.main_wrap main > * .item_card:hover .item_img .item_thum > img {
    transform: scale(1.07);
}
.main_wrap main > * .item_card  .item_img .thum_icon {
    width: 100%;
    position: absolute; bottom: -3px;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-end;
}
.main_wrap main > * .item_card .item_img .thum_icon .item_emblem {
    width: 28px;
}
.main_wrap main > * .item_card .item_img .thum_icon .item_emblem > img {
    width: 100%;
}
.main_wrap main > * .item_card .item_img .thum_icon .like_button {
    width: 36px;
    position: absolute; bottom: 0; right: 0; line-height: 0; cursor: pointer;
    padding: 4px; z-index: 1;
}
.main_wrap main > * .item_card .item_img .thum_icon .like_button > img {
    width: 100%;
}
.main_wrap main > * .item_card .item_info {}
.main_wrap main > * .item_card .item_info .store {
    display: flex; flex-flow: row nowrap;
    margin-bottom: 5px;
}
.main_wrap main > * .item_card .item_info .store > span {
    font-size: 12px; font-weight: 600; line-height: 1.4;
}
.main_wrap main > * .item_card .item_info .store .mileage {}
.main_wrap main > * .item_card .item_info .store .mileage > img {
    display: block; height: 12px;
    margin: 2px 0 0 2px;
}
.main_wrap main > * .item_card .item_info .item_name {
    margin-bottom: 5px;
    font-size: 12px; line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* ← 이 줄수에 맞춰 잘라주는 거! */
    overflow: hidden;

}
.main_wrap main > * .item_card .item_info .item_price {}
.main_wrap main > * .item_card .item_info .item_price > span {}
.main_wrap main > * .item_card .item_info .item_price .percent {
    color: #f55dd6; font-size: 15px; font-weight: 600;
}
.main_wrap main > * .item_card .item_info .item_price .price {
    font-size: 15px; font-weight: 600; line-height: 1.6;
    color: #292b2b;
}
.main_wrap main > * .item_card .item_info .item_badge {
    display: flex; flex-flow: row nowrap; align-items: center;
}
.main_wrap main > * .item_card .item_info .item_badge > img {
    display: block;
    width: 100%;
}

/* ★ 첫구매혜택 ★ */
.main_wrap main .benefit {}
.main_wrap main .benefit .benefit_wrap {}
.main_wrap main .benefit .benefit_wrap .title {}
.main_wrap main .benefit .benefit_wrap .title >  h3 {}

.main_wrap main .benefit .benefit_wrap .benefit_swiper {
    padding: 16px;
}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper {
    display: flex;
}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants {
    width: 160px;
}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_link {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_img .item_thum {height: 200px;}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card  .item_img .item_thum > img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card:hover .item_img .item_thum > img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card  .item_img .thum_icon {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_img .thum_icon .item_emblem {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_img .thum_icon .item_emblem > img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_img .thum_icon .like_button {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_img .thum_icon .like_button > img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .store {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .store > span {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .store .mileage {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .store .mileage > img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_name {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_price {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_price > span {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_price .percent {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_price .price {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_badge {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_badge > img {}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_badge .first_price {
    width: 40px; margin-right: 2px;
}
.main_wrap main .benefit .benefit_wrap .benefit_swiper .swiper-wrapper .benefit_contants .item_card .item_info .item_badge .delivary {width: 40px;}

/* ★ 추천 아이템 버튼 ★ */
.main_wrap main .btn_wrap {
    border: 1px solid #d0d4d6; border-radius: 100px;
    margin: 0 16px 24px; padding: 10px 0; cursor: pointer;
    text-align: center;
    transition: all 0.1s linear;
}
.main_wrap main .btn_wrap:hover {
    background-color: rgba(0, 0, 0, .05);
}
.main_wrap main .btn_wrap .benefit_btn {
    font-size: 18px; font-weight: 600; line-height: 1.6;
    text-align: center;
}

/* ★ 당신을 위한 추천 아이템 ★ */
.main_wrap main .recom {}
.main_wrap main .recom .title {}
.main_wrap main .recom .title > h3 {}
.main_wrap main .recom ul {
    display: flex; flex-flow: row wrap; justify-content: space-between;
    padding: 8px 0 16px;
}
.main_wrap main .recom ul li {
    width: calc((100% - (2px * 2)) / 3);
    padding-bottom: 24px;
}
.main_wrap main .recom ul li .item_card {}
.main_wrap main .recom ul li .item_card > .item_link {}
.main_wrap main .recom ul li .item_card .item_img {}
.main_wrap main .recom ul li .item_card .item_img .item_thum {height: 230px;}
.main_wrap main .recom ul li .item_card .item_img .item_thum > img {}
.main_wrap main .recom ul li .item_card .item_img .thum_icon {}
.main_wrap main .recom ul li .item_card .item_img .thum_icon .item_emblem {}
.main_wrap main .recom ul li .item_card .item_img .thum_icon .item_emblem > img {}
.main_wrap main .recom ul li .item_card .item_img .thum_icon .like_button {}
.main_wrap main .recom ul li .item_card .item_img .thum_icon .like_button > img {}

.main_wrap main .recom ul li .item_card .item_info {}
.main_wrap main .recom ul li .item_card .item_info .store {}
.main_wrap main .recom ul li .item_card .item_info .store > span {}
.main_wrap main .recom ul li .item_card .item_info .store .mileage {}
.main_wrap main .recom ul li .item_card .item_info .store .mileage > img {}
.main_wrap main .recom ul li .item_card .item_info .item_name {}
.main_wrap main .recom ul li .item_card .item_info .item_price {}
.main_wrap main .recom ul li .item_card .item_info .item_price > span {}
.main_wrap main .recom ul li .item_card .item_info .item_price .percent {}
.main_wrap main .recom ul li .item_card .item_info .item_price .price {}
.main_wrap main .recom ul li .item_card .item_info .item_badge {}
.main_wrap main .recom ul li .item_card .item_info .item_badge > img {}
.main_wrap main .recom ul li .item_card .item_info .item_badge .first_price {width: 50px;}
.main_wrap main .recom ul li .item_card .item_info .item_badge .delivary {width: 50px;}