/* ================================================header 공통값  */
.h_bg header * {color: #FFF;}
/* ================================================header */
.h_bg { 
    background-color: #111; /* 이미 100% 너비 개념으로 만든 태그이기 때문에 너비를 쓸 필요 x */
    position: relative;
}
.h_bg header {
    max-width:1400px; margin: 0 auto; height: 125px;
    /* h1+h_right 정렬 */
    display: flex; flex-flow: row nowrap; align-items:center;
}
.h_bg header h1 {}
.h_bg header h1 a {}
.h_bg header h1 a img {}
.h_bg header .h_right {
    width: calc(100% - 150px);
    padding-left: 20px;
}
.h_bg header .h_right .h_top {
    float: right;
    display: flex; flex-flow: row nowrap;
    margin-bottom: 25px;
}
.h_bg header .h_right .h_top .search {}
.h_bg header .h_right .h_top .search > a {}
.h_bg header .h_right .h_top .search .m_all_nav {display: none;}
.h_bg header .h_right .h_top .search > a img {}
.h_bg header .h_right .h_top > a {
    margin-left: 16px;
    font-size: 0.88rem; letter-spacing: -0.02rem;
}
/* ================================================header 검색팝업(S) */ 
.h_bg header .h_right .h_top .search .search_popup > * {margin-bottom: 50px;}
.h_bg header .h_right .h_top .search .search_popup {
    display: none; /* 초기 숨기기(검색 아이콘 클릭 시에만 출력 대상=동적기능 Jave Scripte) */
    background-color: #111;
    position: fixed; /* 바디 기준으로 겹쳐지면서 고정되기 때문에 영향을 받지 않고 위쪽으로 올라온다. */
    right:0; top:0; /* 좌표필수 */
    width: 350px; height: 100vh; /* 사용자가 보는 뷰포트 높이=vh */
    padding: 20px;
} 
.h_bg header .h_right .h_top .search .search_popup .close_btn {
    display: block; text-align: right;
    /* float: right; */
}
.h_bg header .h_right .h_top .search .search_popup .close_btn img {}
.h_bg header .h_right .h_top .search .search_popup #searchFrm {
    /* clear: both; = 넣어주면 밑으로 떨어진다 */
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    border-bottom:2px solid #FFF; padding-bottom: 7px;
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name$=search] {
    width: 100%; /* 부모 크기 전체 인식 하니까 잘못된 거임 */
    /* width: calc(100% - 25px); = 돋보기 크기만큼 빼고 인식 */
    background-color: transparent;
    /* background:none */
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input::placeholder {
    color: #aaa; letter-spacing: -0.02rem;
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm #search_btn {}
.h_bg header .h_right .h_top .search .search_popup #searchFrm #search_btn img {}
.h_bg header .h_right .h_top .search .search_popup h2 {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 500;
}
/* =====================================================검색팝업 실시간 인기 검색어*/
.h_bg header .h_right .h_top .search .search_popup .search_list {
    display: flex; flex-flow: column nowrap;
}

.h_bg header .h_right .h_top .search .search_popup .search_list li .num,
.h_bg header .h_right .h_top .search .search_popup .search_list li .keyword {
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li {
    margin-bottom: 14px;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li:last-child {margin: 0;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .num {}
.h_bg header .h_right .h_top .search .search_popup .search_list li .keyword {margin-left: 20px;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating {float: right;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating img {}
/* ===========================================================검색팝업 추천 키워드*/
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend {
    display: flex; flex-flow: row wrap;
}
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend a {
    border: 1px solid #FFF; padding: 10px 15px; 
    border-radius: 20px; margin: 0 7px 7px 0;
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
/* ================================================header 검색팝업(E)*/
.h_bg header .h_right .h_btm {
    clear: both; 
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
.h_bg header .h_right .h_btm .h_b_left {}
.h_bg header .h_right .h_btm .h_b_left a {
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02rem;
    margin-right: 34px;
}
.h_bg header .h_right .h_btm .h_b_left a:last-child {margin: 0;}
.h_bg header .h_right .h_btm nav {}
.h_bg header .h_right .h_btm nav > a {
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02rem;
    margin-left: 34px;
}
.h_bg header .h_right .h_btm nav > a:first-child {margin: 0;}
/* ================================================header 서브(S) */
.h_bg header .h_right .h_btm .sub_bg { /* 너비 1920 배경 */
    display: none;
    background-color: #111;
    position: absolute; left: 0; top: 125px; width: 100%;
    /* absolute작성할 때 반드시 width 속성도 함께 써야 한다. 안쓰면 인라인 블록처럼 인식한다. */
} 
.h_bg header .h_right .h_btm .sub_bg .sub_contents {
    max-width:1400px; margin: 0 auto; height: 240px;
    display: flex; flex-flow: row nowrap;
    padding: 40px 0 0;
}
.h_bg header .h_right .h_btm .sub_bg .sub_contents > * {
    width: 200px; padding-left: 20px; /* 각 서브 메뉴의 왼쪽에 여백 주기 위함 */
}

.h_bg header .h_right .h_btm .sub_bg .sub_contents > * li a {
    font-weight:500; letter-spacing: -0.02rem;
    display: block; padding-bottom: 3px;
}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth1 li,
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 li {margin-bottom: 20px;}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth1 {} /* 1단계 서브메뉴 */
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth1 .active {border-bottom: 2px solid #FFF;}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth1 li {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth1 li a {}
/* =============================================================공통 디자인 선택자*/
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 {} /* 2단계 서브메뉴 */
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub li {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub li a{}
/* ======================================================================face sub*/
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub1 {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub1 li {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub1 li a {}
/* ======================================================================eyes sub*/
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub2 {display: none;}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub2 li {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub2 li a {}
/* ======================================================================lips sub*/
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub3 {display: none;}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub3 li {}
.h_bg header .h_right .h_btm .sub_bg .sub_contents .depth2 .sub3 li a {}
/* ================================================header 서브(E)*/
/* ================================================header 모바일 서브메뉴 (S)*/
.h_bg header .h_right .h_top .search .m_nav {
    position:fixed; left:0; top:125px; z-index: 10;
    background-color: #FFF; width: 100%; height: (100% - 125px)vh;
}
.h_bg header .h_right .h_top .search .m_nav .m_login {
    border-bottom: 2px solid #000; text-align: right;
    padding: 30px 20px 10px; 
}
.h_bg header .h_right .h_top .search .m_nav .m_login a {
    color: #000; margin-right: 40px; 
}
.h_bg header .h_right .h_top .search .m_nav .m_login a:last-child{margin: 0;}
.h_bg header .h_right .h_top .search .m_nav nav {
    padding: 20px;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul {
    text-align: right; 
}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li {
    width: 100%; background-color: coral;
    padding: 10px 10px 10px 0 ; margin-bottom: 15px;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li a {color: #000;}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .sub {
    background-color: #FFF;
    border-top: 1px solid #000; border-bottom: 1px solid #000;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .sub > li {}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .sub > li a {color: #000;}
/* ================================================header 모바일 서브메뉴 (E)*/
/* ================================================main */
main {}
/* ================================================main1. 광고배너 */
main .slides_wrap {
    height: 650px; /* 높이 고정값 많이 씀(광고 배너는 광고 요소에 따라 글자 단락이 다 다르기 때문에 내용 기준으로 자동 높이 설정시, 높낮이가 배너에 따라 불균형문제가 발생한다. 그래서 광고배너는 높이를 px로 고정해야 하는 경우가 많다. 그 외엔 자동높이 설정 권장) */
    position: relative; /* 버튼과 스크롤바의 기준 설정값 */
}
main .slides_wrap .slides_container {
    height: 100%; /* slides_wrap과 높이 고정하게 유지할 수 있도록, 가장 가까운 부모 기준 크기가 따름 */
}
main .slides_wrap .slides_container .slide {
    height: 100%; /* slides_container과 높이 고정하게 유지할 수 있도록, 가장 가까운 부모 기준 크기가 따름 */
}
main .slides_wrap .slides_container .slide .contents {
    max-width:1400px; margin: 0 auto;
    overflow: hidden;
}
main .slides_wrap .slides_container .slide .contents .title {
    width: 50%; float: right; /* 부모의 자식에게 상대처리 : .contents 크기의 50% 크기로 만들기 */
    padding-top: 126px; /* 부모와 자식 사이의 간격 체크 */
}
main .slides_wrap .slides_container .slide .contents .title img {}
main .slides_wrap .slides_container .slide .contents .title .bnr_link {
    display: block; width:min-content; margin-top: 100px;
    font-weight:500; letter-spacing: -0.02rem; border-radius: 5px;
    padding: 10px 20px;
}
main .slides_wrap .slides_container .slide .contents .title .bnr_link:hover{
    background-color: #000; color: #FFF;
}
main .slides_wrap .prev_btn,
main .slides_wrap .next_btn {
    position: absolute; top: 50%
}
main .slides_wrap .prev_btn img,
main .slides_wrap .next_btn img {}
main .slides_wrap .prev_btn {left: 190px;} /* 바디를 기준으로 각 방향 간격 체크 */
main .slides_wrap .prev_btn img {}
main .slides_wrap .next_btn {right: 190px;} /* 바디를 기준으로 각 방향 간격 체크 */
main .slides_wrap .next_btn img {}
main .slides_wrap .scroll_bg {
    background-color: #CCC;
    max-width:1400px; height: 2px;
    /* position: absolute; bottom: 5%;  */
    position: relative; bottom: 30px; margin: 0 auto;
}
main .slides_wrap .scroll_bg .scrollbar {
    width: 200px; height: 100%;
    background-color: #111;
}
/* ================================================main1. 광고배너(개별 배너 선택자 position 많이 씀) */
main .slides_wrap .slides_container .slide1 {
    background-image: url(../images/bnr1.png); 
    display: none; /* 초기 숨기기 */
}
main .slides_wrap .slides_container .slide1 .contents {}
main .slides_wrap .slides_container .slide1 .contents .title {}
main .slides_wrap .slides_container .slide1 .contents .title img {}
main .slides_wrap .slides_container .slide1 .contents .title .bnr_link {
    border: 1px solid #000; border-radius: 5px;
}
main .slides_wrap .slides_container .slide2 {
    background-image: url(../images/bnr2.png);
}
main .slides_wrap .slides_container .slide2 .contents {}
main .slides_wrap .slides_container .slide2 .contents .title {}
main .slides_wrap .slides_container .slide2 .contents .title img {}
main .slides_wrap .slides_container .slide2 .contents .title .bnr_link {
    background-color: #67C9FF;
}
/* ================================================2행 BEST ITEM 상품*/
main .best_item_wrap {
    background-color: yellow;
    max-width:1400px; margin: 0 auto;
}
main .best_item_wrap h2 {
    font-size: 2.19rem; letter-spacing: -0.02rem; font-weight: 700;
    margin-bottom: 30px;
}
main .best_item_wrap .contents {
    background-color: lightcoral;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .best_item_wrap .contents li {
    background-color: lightseagreen;
    width: calc((100% - (21px * 3)) / 4);
}
main .best_item_wrap .contents li a {}
main .best_item_wrap .contents li a img {
    width: 100%;
    padding-bottom: 10px;}
main .best_item_wrap .contents li .txt {
    background-color: lightcyan;
}
main .best_item_wrap .contents li .txt .category {
    padding-bottom: 10px;
    letter-spacing: -0.02rem;
}
main .best_item_wrap .contents li .txt h3 {
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02rem;
    padding-bottom: 35px;
}
main .best_item_wrap .contents li .txt .price {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 500;
}
/* ================================================3행 FACE BEST 상품*/
main .face_best_wrap {
    max-width:1400px; margin: 0 auto;
}
main .face_best_wrap .title {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-bottom: 30px;
}
main .face_best_wrap .title h2 {
    font-size: 2.19rem; letter-spacing: -0.02rem; font-weight: 700;
}
main .face_best_wrap .title .more {
    letter-spacing: -0.02rem; align-content: flex-end;
}
main .face_best_wrap .contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .face_best_wrap .contents li {
    width: calc((100% - (30 * 2)) / 3);
}
main .face_best_wrap .contents li .product {
    position: relative;
    display: flex; flex-flow: row nowrap; 
    justify-content: center; align-content: center;
}
main .face_best_wrap .contents li .product,
main .face_best_wrap .contents li .txt .category {
    padding-bottom: 10px;
}
main .face_best_wrap .contents li .product .label {
    background-color: #FFF;
    display: block; padding: 5px 10px;
    position: absolute; left: 0; top: 0;
}
main .face_best_wrap .contents li .product > a {}
main .face_best_wrap .contents li .product > a img {width: 100%;}
/* ================================================3행 상품 마우스 올렸을 때 출력되는 대상(start)*/
main .face_best_wrap .contents li .product:hover .icon {display: block;}
main .face_best_wrap .contents li .product .icon {
    position: absolute; bottom: 30px; 
    display: none; /* 초기 숨기기 */
    }
main .face_best_wrap .contents li .product .icon a {
    margin-right: 12px;
    opacity: 0.5;
}
main .face_best_wrap .contents li .product .icon a:hover {opacity: 1;}
main .face_best_wrap .contents li .product .icon a:last-child{margin-right: 0;}
main .face_best_wrap .contents li .product .icon a img{}
/* ================================================3행 상품 마우스 올렸을 때 출력되는 대상(end)*/
main .face_best_wrap .contents li .txt {}
main .face_best_wrap .contents li .txt .category {letter-spacing: -0.02rem;}
main .face_best_wrap .contents li .txt h3 {
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02rem;
    padding-bottom: 35px;
}
main .face_best_wrap .contents li .txt .price {
    font-size: 1.13rem; letter-spacing: -0.02rem; font-weight: 500;
}