/* 헤더 */
.h_bg {background-color: aquamarine;}
.h_bg header {
    background-color: lightpink;
    width: 1500px; margin: 0 auto; padding: 20px 0; 
}
.h_bg header .h_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding-bottom: 20px;
}
.h_bg header .h_top h1 {}
.h_bg header .h_top h1 > a {}
.h_bg header .h_top h1 > a > img {}
.h_bg header .h_top .top_right {}
.h_bg header .h_top .top_right > a {}
.h_bg header .h_btm {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
.h_bg header .h_btm nav {}
.h_bg header .h_btm nav > ul {}
.h_bg header .h_btm nav > ul > li {float: left; padding-right: 35px;}
.h_bg header .h_btm nav > ul > li > a {}
.h_bg header .h_btm nav > ul > li > a > img {}
.h_bg header .h_btm .btm_right {}
.h_bg header .h_btm .btm_right > a {padding-left: 25px;}
.h_bg header .h_btm .btm_right > a > img {}

/* 메인 배너 */
main .main_bnr {}
main .main_bnr .swiper-wrapper {}
main .main_bnr .swiper-wrapper .swiper-slide {}
main .main_bnr .swiper-wrapper .swiper-slide > h1 {}
main .main_bnr .swiper-wrapper .swiper-slide > h1 em {}
main .main_bnr .swiper-wrapper .swiper-slide > p {}
main .main_bnr .swiper-wrapper .swiper-slide > .link {}
main .main_bnr .swiper-wrapper .slide1 {}
main .main_bnr .swiper-wrapper .slide1 > h1 {}
main .main_bnr .swiper-wrapper .slide1 > h1 em {}
main .main_bnr .swiper-wrapper .slide1 > p {}
main .main_bnr .swiper-wrapper .slide1 > .link {}

/* 푸터 */
footer {background-color: #F5F5F5;}
footer .ft_bg {
    width: 1600px; margin: 0 auto; padding: 30px 0;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
footer .ft_bg .ft_left {font-size: 0.81rem;}
footer .ft_bg .ft_left > ul {
    display: flex; flex-flow: row nowrap;
}
footer .ft_bg .ft_left > ul:nth-child(2) {padding: 10px 0;}
footer .ft_bg .ft_left > ul > li {}
footer .ft_bg .ft_left > p {padding-top: 10px;}
footer .ft_bg .ft_right {font-size: 0.81rem;}
footer .ft_bg .ft_right .cs {}
footer .ft_bg .ft_right .cs > p:first-child {}
footer .ft_bg .ft_right .cs > p:last-child {
    padding-top: 10px;
    font-size: 0.94rem; font-weight: 600; line-height: 1.2; letter-spacing: -0.02rem;
}
footer .ft_bg .ft_right .cs_time {padding: 20px 0;}
footer .ft_bg .ft_right .cs_time > p {}
footer .ft_bg .ft_right .cs_time > p:nth-child(2) {padding: 7px 0;}
footer .ft_bg .ft_right .cs_link {}
footer .ft_bg .ft_right .cs_link > a {padding-right: 10px;}
footer .ft_bg .ft_right .cs_link > a:last-child {padding:0;}
footer .ft_bg .ft_right .cs_link > a > img {}