#main .swiper-wrapper .allinone_02 .contents {opacity: 0;}
#main .swiper-wrapper .reason_03 .box {opacity: 0;}
#main .swiper-wrapper .translate_04 .contents {opacity: 0;}
#main .swiper-wrapper .tts_05 .contents {opacity: 0;}
#main .swiper-wrapper .ocr_06 .contents {opacity: 0;}
#main .swiper-wrapper .solution_07 .contents {opacity: 0;}
#main .swiper-wrapper .nlp_08 .contents {opacity: 0;}