#login_wrap {
    background-color: aqua;
    width: 743px; margin: 0 auto;
}
/* 언어선택 */
#login_wrap #lang_select {float: right;}
#login_wrap #lang_select option {}
/* 로고 */
#login_wrap h1 {
    clear: both;
    width: 135px; height: 26px; margin: 0 auto;
    background-image: url(../images/m_sp.png);
    background-position: -316px -104px;
    text-indent: -9999px; /* 화면 왼쪽으로 글자를 내보낸다 */
}
#login_wrap h1 a {display: block; height: 100%;}
/* 로그인폼 */
#login_wrap main {
    background-color: yellow;
    width: 458px; margin:0 auto;
}
#login_wrap main form {}
/* 제목탭구성 */
#login_wrap main form .title {
    display: flex;
}
#login_wrap main form .title h2{
    background-color: #f8f9fa;
    width: calc(100% / 3); position: relative;
    height: 68px; border-bottom: 1px solid #cdcdcd;
    border-top: 1px solid #CDCDCE;
    border-right: 1px solid #CDCDCE;
}
#login_wrap main form .title h2.active {
    border: 1px solid #CECECE; border-radius: 10px;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #FFF;
}
#login_wrap main form .title h2.active::before {
    content:''; display:block;
    width:18px; height:78px;
/*     background-color: aquamarine; */
    background-image:url(../images/m_sp_login.png);
    background-position: -21px -176px;
    position:absolute; left: -6px; top: -1px;
}
#login_wrap main form .title h2.active::after {
    content:''; display:block;
    width:18px; height:78px;
/*     background-color: rgb(153, 255, 127); */
    background-image:url(../images/m_sp_login.png);
    background-position:0 -176px;
    position:absolute; right:-1px; top: -1px;
}
#login_wrap main form .title h2:nth-child(1)::before {display: none;}
#login_wrap main form .title h2:nth-child(3)::after {display: none;}
#login_wrap main form .title h2 a {
    /* 부모의 높이가 px 정해져있고 정렬하는 자식요소가 한 줄일 경우 수직정렬 */
    line-height: 68px; /* 부모와 똑같은 높이를 설정해준다 */
    display: block; text-align: center;
}
#login_wrap main form .title h2 a em {}
#login_wrap main form .title h2 a .message {
    background-color: #FFF; padding: 2px 10px;
    border: 1px solid #09aa5c; border-radius: 20px;
    position: absolute; right: -30px; top: -15px;
    text-wrap: nowrap;
}
#login_wrap main form .title h2 a .message strong {
    font-size: 0.63rem; color: #09aa5c;
}
#login_wrap main form .title h2 a .message .close {
    font-size: 0.63rem; color: #09aa5c;
}
/* 내용탭구성 */
#login_wrap main form .login_container {}
#login_wrap main form .login_container .login_box {
    /* 공통내용탭 */
    padding: 25px 30px;
    background-color: #FFF;
    border: 1px solid #cdcdce; border-top: 0;
}
/* 내용1. ID 로그인 */
#login_wrap main form .login_container .id_login {}
#login_wrap main form .login_container .id_login ul {}
#login_wrap main form .login_container .id_login ul li {
    border: 1px solid #cdcdce;
    padding: 15px 20px 15px 40px; position: relative;
}
#login_wrap main form .login_container .id_login ul li::before{
    width: 20px; height: 21px;
    content: ''; display: block;
    background-image: url(../images/m_sp_login.png);
    position: absolute; left: 10px; top: 15px;
}
#login_wrap main form .login_container .id_login ul li:nth-child(1)::before {
    background-position: -117px -256px;
}
#login_wrap main form .login_container .id_login ul li:nth-child(2):before {
    background-position: -162px -256px;
}
#login_wrap main form .login_container .id_login ul li:first-child{
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#login_wrap main form .login_container .id_login ul li:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#login_wrap main form .login_container .id_login ul li input {width: 100%;}
#login_wrap main form .login_container .id_login ul li #user_id {}
#login_wrap main form .login_container .id_login ul li #user_pw {}
#login_wrap main form .login_container .id_login .state_group {
    display: flex; justify-content: space-between;
    margin: 10px 0 20px;
}
/* 로그인 상태 유지 */
#login_wrap main form .login_container .id_login .state_group .login_state {
    position: relative; top : -7px
}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y {}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y:checked+label {}
#login_wrap main form .login_container .id_login .state_group .login_state #login_state_y:checked+label::before{
    background-position-y: -211px;
}
#login_wrap main form .login_container .id_login .state_group .login_state label::before:checked+label{}
#login_wrap main form .login_container .id_login .state_group .login_state label::before {
    content: ''; display: inline-block;
    width: 23px; height: 23px; margin-right: 5px;
    background-image: url(../images/m_sp_login.png);
    background-position: -308px -110px;
    position: relative; top: -2px;
}
#login_wrap main form .login_container .id_login .state_group .login_state label{
    display: flex; align-items: center;
}
/* ip 보안 on/off */
#login_wrap main form .login_container .id_login .state_group .ip_state {
    display: flex; align-items: center;
}
#login_wrap main form .login_container .id_login .state_group .ip_state a {
    margin-right: 5px;
    position: relative; top: 2px;
}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on {}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label { /* 체크상태 */
    background-color: #09aa5c;
}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label .switch {
    left: 4px;
}
#login_wrap main form .login_container .id_login .state_group .ip_state #ip_on:checked+label .switch_state {
    left: auto; right: 4px;
}
#login_wrap main form .login_container .id_login .state_group .ip_state label {
    background-color: #cdcdce; width: 45px; height: 20px;
    border-radius: 12px; display: inline-block;
    position: relative; 
}
#login_wrap main form .login_container .id_login .state_group .ip_state label .switch {
    background-color: #FFF; width: 16px; height: 16px; 
    border-radius: 50%; display: block;
    position: absolute; right: 3px; top: 2px;
}
#login_wrap main form .login_container .id_login .state_group .ip_state label .switch_state {
    color: #FFF; position: absolute; left: 4px; top: 5px;
    font-size: 0.7rem;
    font-family:AppleSDGothicNeoB, sans-serif;
}
/* 로그인 버튼*/
#login_wrap main form .login_container .id_login .login_btn {}
#login_wrap main form .login_container .id_login .login_btn #login {
    background-color: #09aa5c; color: #FFF;
    width: 100%; padding: 13px 0; border-radius: 8px;
    font-family:AppleSDGothicNeoB, sans-serif;
}
/* 내용2. 일회용 로그인 */
#login_wrap main form .login_container .one_time_login {}
#login_wrap main form .login_container .one_time_login p {}
#login_wrap main form .login_container .one_time_login p:first-child {
    text-align: center;
}

#login_wrap main form .login_container .one_time_login p > span {
    font-weight: 500; color: #09aa5c;
}
#login_wrap main form .login_container .one_time_login p > span .set {
    width: 19px; height: 18px; display: inline-block;
    background-image: url(../images/m_sp_login.png);
    background-position: -110px -218px;
    position: relative; left: 2px; top: 2px;
}
#login_wrap main form .login_container .one_time_login p a{
    width: 14px; height: 14px; display: inline-block;
    background-image: url(../images/m_sp_login.png);
    background-position: -250px -65px;
    position: relative; left: 2px; top: 2px;
}
#login_wrap main form .login_container .one_time_login p input {
    text-align: center;
    width: 100%; padding: 13px 0; border-radius: 8px;
    border: 1px solid #cdcdce; margin: 20px 0 10px 0;
}
#login_wrap main form .login_container .one_time_login .login_btn {
    text-align: center;
}
#login_wrap main form .login_container .one_time_login .login_btn #login {
    background-color: #09aa5c; color: #FFF;
    width: 100%; padding: 13px 0; border-radius: 8px;
    margin: 10px 0;
    font-family:AppleSDGothicNeoB, sans-serif;
}
/* 내용3. QR 로그인 */
#login_wrap main form .login_container .qr_login {}
#login_wrap main form .login_container .qr_login .qr_time {
    display: flex; flex-flow: row nowrap; 
    justify-content: center; align-items: flex-end;
}
#login_wrap main form .login_container .qr_login .qr_time {
    padding-bottom: 20px;
}
#login_wrap main form .login_container .qr_login .qr_time p {}
#login_wrap main form .login_container .qr_login .qr_time p > img {width: 100px;}
#login_wrap main form .login_container .qr_login .qr_time .time {
    position: relative; bottom: 10px;
}
#login_wrap main form .login_container .qr_login .qr_time .time .time_title {}
#login_wrap main form .login_container .qr_login .qr_time .time .time_num {font-weight: 700; color: #09aa5c;}
#login_wrap main form .login_container .qr_login > p {text-align: center;}
#login_wrap main form .login_container .qr_login > p:nth-child(2){
    margin-bottom: 10px;
    font-weight: 500; font-size: 14px;
}
#login_wrap main form .login_container .qr_login > p:nth-child(3){
    
    font-weight: 500; font-size: 12px;
}
#login_wrap main form .login_container .qr_login > p .app{
    width: 14px; height: 14px; display: inline-block;
    background-image: url(../images/m_sp_login.png);
    background-position: -250px -99px;
    position: relative; left: 2px; top: 2px;
}
#login_wrap main form .login_container .qr_login > p .lens{
    width: 14px; height: 14px; display: inline-block;
    background-image: url(../images/m_sp_login.png);
    background-position: -250px -82px;
    position: relative; left: 2px; top: 2px;
}
#login_wrap main form .login_container .qr_login > p .num21 {
    background-color: #000; color: #FFF;
    font-size: 12px; padding: 1px 6px; 
    border-radius: 8px;
}
#login_wrap main form .login_container .qr_login > p a{
    width: 14px; height: 14px; display: inline-block;
    background-image: url(../images/m_sp_login.png);
    background-position: -250px -65px;
    position: relative; left: 2px; top: 2px;
}
/* 회원가입 및 찾기 버튼 */
#login_wrap main .search_join {
    text-align: center;
    padding: 20px 0 50px ;
}
#login_wrap main .search_join > a {color: #cdcdcd;}
#login_wrap main .search_join > a::after{
    content: ''; display: inline-block; margin: 0 6px;
    background-color: #cdcdcd;
    width: 1px; height: 15px; position: relative; top: 2px;
}
#login_wrap main .search_join > a:last-child::after {display: none; margin: 0;}
/* 광고 */
#login_wrap main .adver {margin: 20px 0;}
#login_wrap main .adver > a {}
#login_wrap main .adver > a img {width: 100%;}
/* 푸터 */
#login_wrap footer {
    width: 458px; margin:0 auto;
    padding: 50px 0 30px; text-align: center;
}
#login_wrap footer .menu {margin-bottom: 10px;}
#login_wrap footer .menu > a {
    color: #cdcdcd;; font-size: 0.75rem;}
#login_wrap footer .menu > a::after {
    content: ''; display: inline-block; margin: 0 6px;
    background-color: #cdcdcd;
    width: 1px; height: 15px; position: relative; top: 2px;
}
#login_wrap footer .menu > a:last-child::after {display: none; margin: 0;}
#login_wrap footer .copyright {}
#login_wrap footer .copyright .logo {
    display: inline-block;
    width: 135px; height: 27px; margin: 0 auto;
    background-image: url(../images/m_sp.png);
    background-position: -316px -104px;
}
#login_wrap footer .copyright span {}