@media screen and (max-width:1400px) {
    .h_bg {padding: 20px 60px;}

    #main .swiper-wrapper .intro .bg_ani {top: 10px;}

    /* ===================================== 메인 2행 프로필*/
    #main .swiper-wrapper .profile {
        flex-flow: row wrap; justify-content: center;
        padding: 80px 60px;
    }
    #main .swiper-wrapper .profile .left {display: flex; flex-flow: row nowrap}
    #main .swiper-wrapper .profile .left .idimg {width: 170px; padding-right: 20px;}

    #main .swiper-wrapper .profile .right {width: 100%;}
    #main .swiper-wrapper .profile .right .right_top {margin: 40px 0;}
    #main .swiper-wrapper .profile .right .right_btm {}
    #main .swiper-wrapper .profile .right .right_btm .btm_left {
        width: 100%;
        display: flex; flex-flow: row nowrap; justify-content: space-between;
    }
    #main .swiper-wrapper .profile .right .right_btm .btm_skills {display: none;}

    /* ===================================== 프로필 공통/모든 선택자*/
    #main .swiper-wrapper .profile > * h3 {
        padding-bottom: 5px; font-size: 1.25rem;
    }
    #main .swiper-wrapper .profile > * li {
        padding-bottom: 5px; font-size: 0.88rem;
    }
    /* ===================================== 리디자인 프로젝트 (공통) */
    #main .swiper-wrapper #redesign {justify-content:unset;}
    #main .swiper-wrapper #redesign .project_info {width: 460px;}
    #main .swiper-wrapper #redesign .project_info .pj_contents {left: 35px;}
    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_title > h2 {font-size: 2.06rem;}
    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_title > .pj_txt,
    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_detail > .pj_con > li,
    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_detail > .reponsive > li {font-size: 0.88rem;}

    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_detail > .reponsive > li {width: 110px;}
    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_btn > .before,
    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_btn > .proto {
        padding: 10px; font-size: 0.88rem;}

    #main .swiper-wrapper #redesign .project_img {
        width: calc(100% - 460px);
    }
    #main .swiper-wrapper #redesign .project_img > p > img{
        left: 35px; top: 250px;
        width: 85%;
    }

    /* ===================================== 메인 7행 디자인*/
    #main .swiper-wrapper .design .contents {
        margin: 10px auto;
    }
    #main .swiper-wrapper .design .contents .left {
        width: 100%; display: flex;
        margin-bottom: 70px;
    }
    #main .swiper-wrapper .design .contents .left .banner {height: 270px;}
    #main .swiper-wrapper .design .contents .left .sns {height: 275px;}
    #main .swiper-wrapper .design .contents .right {width: 100%;}
    #main .swiper-wrapper .design .contents .right .detail {
        width: 1070px; height: 500px; 
    }
}
@media screen and (max-width:600px){
    .h_bg {padding: 20px 15px;}
    .h_bg header nav > ul li {padding-right: 15px;}
    .h_bg header nav > ul li .nav_active {padding: 5px 13px}
    .h_bg header .h_right > a {font-size: 0.88rem;}

    #main .swiper-wrapper .profile {padding: 80px 15px;}
    #main .swiper-wrapper .profile .left {justify-content: space-between;}
    #main .swiper-wrapper .profile .left .about .about_txt {background-color: green;}
    #main .swiper-wrapper .profile .left .idimg {width: 230px;}
    #main .swiper-wrapper .profile .right .right_btm .btm_left {flex-flow: column;}
    #main .swiper-wrapper .profile .right .right_btm .btm_left .experience {margin-bottom: 20px;}
    #main .swiper-wrapper .profile .right .right_btm .btm_left .license {display: none;}
    /* ===================================== 프로필 공통/모든 선택자*/
    #main .swiper-wrapper .profile > * h3 {
        padding-bottom: 5px; font-size: 1.25rem;
    }
    #main .swiper-wrapper .profile > * li {
        padding-bottom: 5px; font-size: 0.88rem;
    }
    /* =========================================================프로필 (오른쪽-위)*/
    #main .swiper-wrapper .profile .right .right_top {margin: 20px 0;}
    #main .swiper-wrapper .profile .right .right_top > h2 {font-size: 1.88rem;}
    #main .swiper-wrapper .profile .right .right_top > p {width: 270px; margin: 0 auto;}

    #main .swiper-wrapper #redesign {flex-flow: column;}
    #main .swiper-wrapper #redesign .project_info .pj_contents {top: 90px; left: 0; padding: 0 15px;}

    #main .swiper-wrapper .design .contents .left {
        flex-flow: column wrap
    }
    #main .swiper-wrapper .design .contents .left .banner {height: 130px; margin: 0;}
    #main .swiper-wrapper .design .contents .left .sns {margin: 25px auto;}
    #main .swiper-wrapper .design .contents .right .detail {
        width: 350px; height: 350px; 
    }

    #main .swiper-wrapper #redesign .project_info .pj_contents .pj_title > .pj_txt {width: 400px;}
    #main .swiper-wrapper #redesign .project_img  {width: 100%; height: 250px; bottom: -656px;}
    #main .swiper-wrapper #redesign .project_img > p > img{
        width: 85%; top: -60px;
    }
}
