/* =================================================== ν—¤λ” */
.h_bg {
    background-color: lightgray; 
}
.h_bg header {
    padding: 20px 80px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
}
.h_bg header .h_left {
    background-color: aquamarine;
    display: flex; flex-flow: row nowrap; align-items: center;
}
.h_bg header .h_left h1 {}
.h_bg header .h_left h1 > a {}
.h_bg header .h_left h1 > a > img {}
.h_bg header .h_left nav {
    background-color: lightpink;
}
.h_bg header .h_left nav > ul {}
.h_bg header .h_left nav > ul > li {
    margin: 0 20px; float: left;
}
.h_bg header .h_left nav > ul > li:last-child{margin: 0;}
.h_bg header .h_left nav > ul > li > a {}
.h_bg header .h_left nav ul li .sub_bg {
    background-color: lightcyan;
    /* display: none; */
    position: absolute; left: 0; top: 100px; width: 100%; height: 500px;
}
.h_bg header .h_left nav ul li .sub_bg >.sub_mg {
    background-color: beige;
    background-image: url(../images/sub_womanz.jpg);
    background-repeat: no-repeat; background-position: right center;
    max-width:1400px; margin: 40px auto; height: 400px;
    display: flex; flex-flow: row nowrap; align-items: flex-start;
    padding-left: 20px;
}
.h_bg header .h_left nav ul li .sub_bg > .sub_mg h2 {
    padding-right: 30px;
    font-size: 1.56rem; font-weight: 600; letter-spacing: -0.02rem;
}
.h_bg header .h_left nav ul li .sub_bg > * .submenu {}
.h_bg header .h_left nav ul li .sub_bg > * .submenu:nth-child(2) {
    background-color: pink;
    padding: 0 80px 0 40px;
    border-left: 1px solid #AAA;
}
.h_bg header .h_left nav ul li .sub_bg > * .submenu
.h_bg header .h_left nav ul li .sub_bg > * .submenu li {}
.h_bg header .h_left nav ul li .sub_bg > * .submenu li a {
    display: inline-block; padding-bottom: 20px;
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
}
.h_bg header .h_left nav ul li .sub_bg > * .submenu li .model {
    color: #C86733;
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}

.h_bg header .h_right {
    background-color: aqua;
}
.h_bg header .h_right a {}
.h_bg header .h_right a:nth-child(2) {
    margin: 0 15px;
}
.h_bg header .h_right a img {}
/* =================================================== ν‘Έν„° */
