/* =================================================== 헤더 */
.h_bg {
    max-width: 100%;
    position: fixed; z-index: 999; width: 100%;
    background-color: rgba(255, 255, 255, 100);
}
.h_bg header {
    padding: 0 80px; height: 80px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DEDEDE; 
}
.h_bg header .h_left {
    display: flex; flex-flow: row nowrap; align-items: center;
}
.h_bg header .h_left h1 {}
.h_bg header .h_left h1 > a {}
.h_bg header .h_left h1 > a > img {height: 40px;}
/* =================================================== 서브메뉴 */
.h_bg header .h_left nav {}
.h_bg header .h_left nav > ul {}
.h_bg header .h_left nav > ul > li {
    margin-left: 20px; float: left; height: 80px;
    display: flex; align-items: center;
    
}
.h_bg header .h_left nav > ul > li > a {
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
.h_bg header .h_left nav > ul > li:nth-child(2) > a {color: #C86733;}
.h_bg header .h_left nav ul li .sub_bg {
    background-color: #FFF; z-index: 999;
    position: absolute; left: 0; top: 80px; width: 100%; height: 500px;
    transform: translateY(-30px); opacity: 0;
    height: 0; overflow: hidden;
    transition: tranform 0.3s, opacity 0.3s;
}
.h_bg header .h_left nav ul li:hover .sub_bg{
    transform: translateY(0); opacity: 1;
    height: max-content;
} 
.h_bg header .h_left nav ul li .sub_bg >.sub_mg {
    background-image: url(../images/sub_womanz.jpg);
    background-repeat: no-repeat; background-position: right center;
    max-width:1400px; margin: 40px auto; height: 400px;
    display: flex; flex-flow: row nowrap; align-items: flex-start;
    padding-left: 20px;
}
.h_bg header .h_left nav ul li:nth-child(4) .sub_bg >.sub_mg {
    background-image: url(../images/sub_manz.jpg);
    background-repeat: no-repeat; background-position: right center;
}
.h_bg header .h_left nav ul li:nth-child(5) .sub_bg >.sub_mg {
    background-image: url(../images/sub_active.jpg);
    background-repeat: no-repeat; background-position: right center;
}
.h_bg header .h_left nav ul li .sub_bg > .sub_mg h2 {
    padding-right: 30px;
    font-size: 1.56rem; font-weight: 600; letter-spacing: -0.02rem;
}
.h_bg header .h_left nav ul li .sub_bg > * .submenu {}
.h_bg header .h_left nav ul li .sub_bg > * .submenu:nth-child(2) {
    padding: 0 80px 0 40px;
    border-left: 1px solid #AAA;
}
.h_bg header .h_left nav ul li .sub_bg > * .submenu
.h_bg header .h_left nav ul li .sub_bg > * .submenu li {}
.h_bg header .h_left nav ul li .sub_bg > * .submenu li a {
    display: inline-block; padding-bottom: 20px;
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
}
.h_bg header .h_left nav ul li .sub_bg > * .submenu li .model {
    color: #C86733;
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
/* =================================================== 모바일 서브메뉴 start */
.h_bg header .h_left > a img {
    display: none;
    padding-left: 10px;
}
.h_bg header .h_left .m_nav .close {
    float: right; margin: 20px;
}
.h_bg header .h_left .m_nav {
    display: none;
    background-color: #f1f1f1;
    width: 100%; height: calc(100vh - 80px);
    position: fixed; left: 0; top: 80px; z-index: 999;
}
.h_bg header .h_left .m_nav > nav {}
.h_bg header .h_left .m_nav > nav .m_ul {}
.h_bg header .h_left .m_nav > nav .m_ul li {
    width: 100%;
    float: none; margin: 0;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.h_bg header .h_left .m_nav > nav .m_ul li a {
    width: 100%; padding: 10px 0;
}
/* =================================================== 모바일 서브메뉴 end */
.h_bg header .h_right {}
.h_bg header .h_right a {}
.h_bg header .h_right a:nth-child(2) {
    margin: 0 15px;
}
.h_bg header .h_right a img {}
/* =================================================== 배너 */
main {position: relative;}
main .main_swiper {
    width: 100%; height: 950px; margin: 0 auto;
    margin-bottom: 100px;
}
main .main_swiper .swiper-wrapper {position: relative;}
main .main_swiper .swiper-wrapper .swiper-slide {
    background-size: cover;
    background-position: center;
    position: relative;    
}
/* 배너 공통 디자인 */
main .main_swiper .swiper-wrapper .swiper-slide > * {
    max-width: 1400px; margin: 0 auto; padding-top: 398px;
}
main .main_swiper .swiper-wrapper .swiper-slide > * h1,
main .main_swiper .swiper-wrapper .swiper-slide > * h1 span {
    font-size: 3.13rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .main_swiper .swiper-wrapper > * .contents {}
main .main_swiper .swiper-wrapper > * .contents p {
    margin: 20px 0;
    font-size: 1.25rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .main_swiper .swiper-wrapper .swiper-slide > * h1 span {color: #C86733;}
main .main_swiper .swiper-wrapper > * .btn_link {
    display: inline-block;
    border: 1px solid #C86733; border-radius: 10px;
    padding: 15px;
    color: #C86733;
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
/* 배너 개별 디자인 */
main .main_swiper .swiper-wrapper .slide1 {
    background-image: url(../images/bnr_001.jpg);
}
main .main_swiper .swiper-wrapper .slide1 .contents {}
main .main_swiper .swiper-wrapper .slide1 .contents .sub_title {}
main .main_swiper .swiper-wrapper .slide1 .contents .sub_title span {}
main .main_swiper .swiper-wrapper .slide1 .contents p {}
main .main_swiper .swiper-wrapper .slide1 .contents .btn_link {}
main .main_swiper .swiper-wrapper .slide2 {
    background-image: url(../images/bnr_002.jpg);
}
main .main_swiper .swiper-wrapper .slide2 .contents {}
main .main_swiper .swiper-wrapper .slide2 .contents .sub_title {}
main .main_swiper .swiper-wrapper .slide2 .contents p {
    line-height: 1.5;
}
main .main_swiper .swiper-wrapper .slide2 .contents .btn_link {}
main .main_swiper .swiper-pagination {
    bottom: 30px;
}
main .main_swiper .swiper-pagination-bullet {
    background-color: #AAA; opacity: 0.5;
}
main .main_swiper .swiper-pagination-bullet-active {
    background-color: #C86733; opacity: 1;
}
/* =================================================== 푸터 */
footer {background-color: #F5F5F5; padding: 30px 0;}
footer .ft_bg {
    max-width: 1400px; margin: 0 auto;
}
footer .ft_bg .ft_top {
    padding: 0 10px 20px;
    border-bottom: 1px solid #CCC;
}
footer .ft_bg .ft_top > a {
    font-size: 0.69rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding-right: 3px;
}
footer .ft_bg .ft_top > a:last-child {padding: 0;}
footer .ft_bg .ft_btm {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding: 30px 10px 0;
}
footer .ft_bg .ft_btm .btm_left {}
footer .ft_bg .ft_btm .btm_left ul {}
footer .ft_bg .ft_btm .btm_left ul li {
    display: inline-block;
    font-size: 0.69rem; line-height: 1.2; letter-spacing: -0.02rem;
}
footer .ft_bg .ft_btm .btm_left ul li::after{
    content: ''; display: inline-block;
    max-width: 1px; height: 11px; background-color: #000;
    margin: 0 7px; position: relative; top: 1px;
}
footer .ft_bg .ft_btm .btm_left ul li:nth-child(2) {padding: 7px 0;}
footer .ft_bg .ft_btm .btm_left > p {
    font-size: 0.69rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding-top: 30px;
}
footer .ft_bg .ft_btm .btm_right {
    max-width: 400px;
}
footer .ft_bg .ft_btm .btm_right > p {
    font-size: 0.69rem; line-height: 1.2; letter-spacing: -0.02rem;
}
footer .ft_bg .ft_btm .btm_right .cs_info {
    background-image: url(../images/ft_logo.png);
    background-repeat: no-repeat;
    background-position: right center;
}
footer .ft_bg .ft_btm .btm_right .cs_info .cs {
    padding: 15px 0;
}
footer .ft_bg .ft_btm .btm_right .cs_info .cs > p {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
footer .ft_bg .ft_btm .btm_right .cs_info .cs > .title {
    font-size: 0.88rem; letter-spacing: -0.02rem;
    padding-bottom: 10px;
}
footer .ft_bg .ft_btm .btm_right .cs_info .time > p {
    font-size: 0.69rem; line-height: 1.2; letter-spacing: -0.02rem;
}
footer .ft_bg .ft_btm .btm_right .sns {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between; align-items: center;
    padding-top: 15px;
}
footer .ft_bg .ft_btm .btm_right .sns .sns_left {}
footer .ft_bg .ft_btm .btm_right .sns .sns_left > a {width: 30px; display: inline-block;}
footer .ft_bg .ft_btm .btm_right .sns .sns_left > a:nth-child(2),
footer .ft_bg .ft_btm .btm_right .sns .sns_right > p {}
footer .ft_bg .ft_btm .btm_right .sns .sns_left > a > img {width: 30px;}
footer .ft_bg .ft_btm .btm_right .sns .sns_right {}
footer .ft_bg .ft_btm .btm_right .sns .sns_right > a {
    width: 30px; display: inline-block;
    float: left;
}
footer .ft_bg .ft_btm .btm_right .sns .sns_right > a > img {width: 100%;}
footer .ft_bg .ft_btm .btm_right .sns .sns_right > p {float: left;}
footer .ft_bg .ft_btm .btm_right .sns .sns_right > p > img {width: 100%;}
