/* =================================================== 공통디자인 */
main .m_row {
    max-width: 1400px; margin: 0 auto 100px;
}
main .m_row .title {}
main .m_row .title .row_txt {
    font-size: 0.94rem; letter-spacing: -0.02rem;
    padding-bottom: 10px;
}
main .m_row .title .t_btm {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .m_row .title .t_btm .row_title {
    font-size: 1.56rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .m_row .title .t_btm .item_tab {}
main .m_row .title .t_btm .item_tab a {
    font-size: 0.94rem; letter-spacing: -0.02rem; color: #AAA;
    padding: 0 30px;
}
main .m_row .title .t_btm .item_tab .active {
    color: #222; padding-bottom: 10px;
    border-bottom: 2px solid #C86733;
}
main .m_row .title .t_btm .more_view {}
main .m_row .title .t_btm .more_view > a {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
}
main .m_row .title .t_btm .more_view > a > img {
    position: relative; top: 3px;
    padding-left: 5px;
}
/* =================================================== 스와이퍼 1*/
main .m_row .c_swiper {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 40px 0;
}
main .m_row .c_swiper .swiper-wrapper {}
main .m_row .c_swiper .swiper-wrapper .swiper-slide {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .m_row .c_swiper .swiper-wrapper .swiper-slide a {}
main .m_row .c_swiper .swiper-wrapper .swiper-slide a img {width:100%;}
main .m_row .c_swiper .swiper-wrapper .swiper-slide .item {}
main .m_row .c_swiper .swiper-wrapper > * h3 {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .m_row .c_swiper .swiper-wrapper > * .i_txt {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding: 10px 0 20px;
}
main .m_row .c_swiper .swiper-wrapper > * .price {
    letter-spacing: -0.02rem;
}
main .m_row .c_swiper .swiper-wrapper > * .price del {
    color: #AAA; font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding-left: 10px;
}
/* =================================================== 2행 개별 */
main .row2 {}
main .row2 .title {}
main .row2 .title .t_top {
    display: flex; flex-flow: row nowrap; align-items: flex-end;
    margin-bottom: 30px;
}
main .row2 .title .t_top .row_title {
    font-size: 2.19rem; font-weight: 600; letter-spacing: -0.04rem;
    padding-right: 10px;
}
main .row2 .title .t_top .row_txt {padding-bottom: 0;}
main .row2 .title .t_btm {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin-top: 20px;
}
main .row2 .title .t_btm .tab {}

main .row2 .title .t_btm .tab > a {
    border: 1px solid #888; border-radius: 20px;
    padding: 7px 20px;
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
main .row2 .title .t_btm .tab .active {
    border: 2px solid #C86733; color: #C86733;
}
main .row2 .title .t_btm .tab a:nth-child(2) {
    margin: 0 10px;
}
main .row2 .title .t_btm .more_view {}
main .row2 .title .t_btm .more_view > a {}
main .row2 .title .t_btm .more_view > a > img {
    position: relative; top: 3px;
    padding-left: 5px;
}
/* =================================================== 2행 개별 슬라이드1 */
main .m_row .c_swiper .swiper-wrapper .item-wrap1 {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item > a {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item > a img {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item .item_info {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item .item_info h3 {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item .item_info .i_txt {}
main .m_row .c_swiper .swiper-wrapper .item-wrap1 .item .item_info .price del {}
/* =================================================== 2행 개별 슬라이드2 */
main .m_row .c_swiper .swiper-wrapper .item-wrap2 {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item > a {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item > a img {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item .item_info {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item .item_info h3 {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item .item_info .i_txt {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item .item_info .price {}
main .m_row .c_swiper .swiper-wrapper .item-wrap2 .item .item_info .price del {}
/* =================================================== 스와이퍼 2*/
main .m_row .c_swiper2 {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 40px 0;
}
main .m_row .c_swiper2 .swiper-wrapper {}
main .m_row .c_swiper2 .swiper-wrapper .swiper-slide {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .m_row .c_swiper2 .swiper-wrapper .swiper-slide a {}
main .m_row .c_swiper2 .swiper-wrapper .swiper-slide .item {}
main .m_row .c_swiper2 .swiper-wrapper .swiper-slide a img {width:100%;}
main .m_row .c_swiper2 .swiper-wrapper > * h3 {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .m_row .c_swiper2 .swiper-wrapper > * .i_txt {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding: 10px 0 20px;
}
main .m_row .c_swiper2 .swiper-wrapper > * .price {
    letter-spacing: -0.02rem;
}
main .m_row .c_swiper2 .swiper-wrapper > * .price del {
    color: #AAA; font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding-left: 10px;
}
/* =================================================== 스와이퍼 3*/
main .m_row .c_swiper3 {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 40px 0;
}
main .m_row .c_swiper3 .swiper-wrapper {}
main .m_row .c_swiper3 .swiper-wrapper .swiper-slide {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .m_row .c_swiper3 .swiper-wrapper .swiper-slide a {}
main .m_row .c_swiper3 .swiper-wrapper .swiper-slide .item {}
main .m_row .c_swiper3 .swiper-wrapper .swiper-slide a img {width:100%;}
main .m_row .c_swiper3 .swiper-wrapper > * h3 {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .m_row .c_swiper3 .swiper-wrapper > * .i_txt {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding: 10px 0 20px;
}
main .m_row .c_swiper3 .swiper-wrapper > * .price {
    letter-spacing: -0.02rem;
}
main .m_row .c_swiper3 .swiper-wrapper > * .price del {
    color: #AAA; font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding-left: 10px;
}
/* =================================================== 진행바*/
main .m_row .progress {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
main .m_row .progress .s_btn {
    position: relative; bottom: 3px;
}
main .m_row .progress .s_btn .swiper-button-prev {
    
}
main .m_row .progress .s_btn .swiper-button-next {}
main .m_row .progress .s_btn button {}
main .m_row .progress .s_btn .prev {}
main .m_row .progress .s_btn .next {}
main .m_row .progress .swiper-scrollbar {
    max-width: 1330px;  height: 2px;
    position: relative; margin: 0 auto;
}
main .m_row .progress .scrollbar .active-scrollbar {
    /* width: 10%; */ height: 2px;
    position: absolute; left: 0; top: 0;
}
/* =================================================== 배너*/
main .m_bnr {
    height: 360px;
    background-size: cover; margin-bottom: 100px; 
}
main .bnr1 {
    background-image: url(../images/m_bnr_001.jpg);
}
main .bnr2 {
    background-image: url(../images/m_bnr_002.jpg);
    margin: 0;
}
main .m_bnr .bnr_contents {
    max-width: 1400px; margin: 0 auto;
    padding-top: 108px;
}
main .m_bnr .bnr_contents h4 {
    font-size: 1.75rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .m_bnr .bnr_contents .bnr_txt {
    font-size: 1.06rem; font-weight: 500; 
    letter-spacing: -0.02rem; line-height: 1.5;
    padding: 10px 0 30px;
}
main .m_bnr .bnr_contents .bnr_link {}
main .m_bnr .bnr_contents .bnr_link > a {
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
main .m_bnr .bnr_contents .bnr_link > a > img {
    padding-left: 10px; position: relative; top: 6px;
}

/* =================================================== 5행 개별 */
main .row5 {
    height: 2600px;
}
main .row5 .row5_bg {
    background-color: #FFF;
    padding: 20px 0; position: sticky; top: 80px; z-index: 999;
}
main .row5 .row5_bg .row5_title {
    background-color: #FFF;
    max-width: 1400px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
}
main .row5 .row5_bg .row5_title .row5_left {}
main .row5 .row5_bg .row5_title .row5_left .row_title {
    display: inline-block;
    font-size: 1.56rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .row5 .row5_bg .row5_title .row5_left .row_txt {
    display: inline-block;
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
main .row5 .row5_bg .row5_title .row5_tab {}
main .row5 .row5_bg .row5_title .row5_tab > a {
    font-size: 0.94rem; letter-spacing: -0.02rem; color: #AAA;
    padding: 0 20px;
}
main .row5 .row5_bg .row5_title .row5_tab > .active {
    color: #222; padding-bottom: 5px;
    border-bottom: 2px solid #C86733;
}
main .row5 .row5_contents {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    margin: 0 80px; 
}
main .row5 .row5_contents .right_bg { 
}
main .row5 .row5_contents .right_bg .right {
    width: 490px; height: 900px;
    background-size: cover; background-position: center;
    position: sticky; top: 80px;
}
main .row5 .row5_contents .right_bg .golf {
    background-image: url(../images/row5_main1.jpg);
}
main .row5 .row5_contents .right_bg .running {
    background-image: url(../images/row5_main2.jpg);
}
main .row5 .row5_contents .right_bg .yoga {
    background-image: url(../images/row5_main3.jpg);
}
main .row5 .row5_contents .right_bg .right > a {
    width: 490px; height: 900px;
    position: absolute; left: 0; top: 0;
}
main .row5 .row5_contents .right_bg .right > a > img {
    padding-top: 10px; display: none;
}
main .row5 .row5_contents .left_list {
    width: calc(100% - 648px);    
}
main .row5 .row5_contents .left_list ul {
    display: flex; flex-flow: row wrap; justify-content: space-between;
}
main .row5 .row5_contents .left_list ul li {
    width: calc((100% - (28px * 2)) / 3);
    padding-bottom: 50px;
}
main .row5 .row5_contents .left_list ul li > a {}
main .row5 .row5_contents .left_list ul li > a img {width: 100%;}
main .row5 .row5_contents > * h3 {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .row5 .row5_contents > * .i_txt {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding: 10px 0 20px;
}
main .row5 .row5_contents > * .price {letter-spacing: -0.02rem;}
main .row5 .row5_contents > * .price del {
    color: #AAA; font-size: 0.81rem; line-height: 1.2;
    padding-left: 10px;
}