main {}
main .contents_wrap {
    max-width: 1400px; margin: 130px auto;
}
main .contents_wrap .title_bg {
    border-bottom: 1px solid #C86733; text-align: center;
}
main .contents_wrap .title_bg .title {}
main .contents_wrap .title_bg .title h2 {
    padding-top: 80px;
    font-size: 1.44rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .contents_wrap .title_bg .title .category {
    padding: 30px 0 20px 0;
}
main .contents_wrap .title_bg .title .category > a {
    margin-right: 30px; text-align: center;
    font-size: 0.94rem; letter-spacing: -0.02rem; color: #888888;
}
main .contents_wrap .title_bg .title .category > a:last-child {padding: 0;}
main .contents_wrap .title_bg .title .category > .active {
    background-color: #C86733; color: #FFF;
    padding: 10px 20px;
}
main .contents_wrap .item_wrap {}
main .contents_wrap .item_wrap ul {
    display: flex; flex-flow: row wrap; justify-content: space-between;
    padding: 80px 0 50px;
}
main .contents_wrap .item_wrap ul li {padding-bottom: 50px;}
main .contents_wrap .item_wrap ul li > a {}
main .contents_wrap .item_wrap ul li > a > img {
    width: 100%;
    padding-bottom: 10px;}
main .contents_wrap .item_wrap ul li .item_info {}
main .contents_wrap .item_wrap ul li .item_info h3 {
    font-size: 0.94rem; font-weight: 500; letter-spacing: -0.02rem;
}
main .contents_wrap .item_wrap ul li .item_info .i_txt {
    font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding: 10px 0 20px;
}
main .contents_wrap .item_wrap ul li .item_info .price {letter-spacing: -0.02rem;}
main .contents_wrap .item_wrap ul li .item_info .price del {
    color: #AAA; font-size: 0.81rem; line-height: 1.2; letter-spacing: -0.02rem;
    padding-left: 10px;
}
main .contents_wrap .item_wrap .more_view {
    text-align: center;
}

/* =================================================== 배너*/
main .m_bnr {
    background-size: cover;

}
main .bnr1 {
    background-image: url(../images/sub_brn.jpg);
    height: 500px;
    position: relative; top: 80px;
}
main .bnr1 .bnr_contents {
    max-width: 1400px;
    position: absolute; left: 260px; top: 200px;
    
}
main .bnr1 .bnr_contents .bnr_txt {
    font-size: 1.88rem; font-weight: 600; 
    letter-spacing: -0.02rem; line-height: 1.2;

}
main .bnr1 .bnr_contents h2 {
    font-size: 3.13rem; font-weight: 600; 
    line-height: 1.2; letter-spacing: -0.02rem;
}
main .bnr1 .coupon {
    background-color: #181818; color: #FFDBC8;
    position: relative; top: 500px; text-align: center;
    padding: 20px 0;
}
main .bnr1 .coupon h3 {
    display: inline-block;
    font-size: 1.13rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .bnr1 .coupon > .coupontxt {
    display: inline-block;
    font-size: 1.19rem; font-weight: 600; letter-spacing: -0.02rem;
}

main .bnr2 {
    background-image: url(../images/m_bnr_002.jpg);
    height: 360px;
    margin: 0;
}
main .bnr2 .bnr_contents {
    max-width: 1400px; margin: 0 auto;
    padding-top: 108px;
}
main .bnr2 .bnr_contents h4 {
    font-size: 1.75rem; font-weight: 600; letter-spacing: -0.02rem;
}
main .bnr2 .bnr_contents .bnr_txt {
    font-size: 1.06rem; font-weight: 500; 
    letter-spacing: -0.02rem; line-height: 1.5;
    padding: 10px 0 30px;
}
main .bnr2 .bnr_contents .bnr_link {}
main .bnr2 .bnr_contents .bnr_link > a {
    font-size: 0.94rem; letter-spacing: -0.02rem;
}
main .bnr2 .bnr_contents .bnr_link > a > img {
    padding-left: 10px; position: relative; top: 6px;
}