@media screen and (max-width:1400px){
    main .bnr1 {background-position: 70% center;}
    main .bnr1 .bnr_contents {
        position: absolute; left: 83px; top: 200px;
    }
    main .bnr2 {background-position: 70% center;}
    main .bnr2 .bnr_contents {
        margin: 0 80px;
    }

    main .contents_wrap {padding: 0 80px;}

    main .contents_wrap .item_wrap ul li {
        width: calc((100% - (7px * 3)) / 4); 
        padding-bottom: 80px;
    }
    main .contents_wrap .item_wrap ul li .item_info h3 {font-size: 0.75rem;;}
    main .contents_wrap .item_wrap ul li .item_info .i_txt {font-size: 0.63rem;}

    /* =================================================== 푸터 */  
    footer .ft_bg {padding:0 80px;}

    footer .ft_bg .ft_top > a,
    footer .ft_bg .ft_btm .btm_left ul li,
    footer .ft_bg .ft_btm .btm_left > p,
    footer .ft_bg .ft_btm .btm_right > p,
    footer .ft_bg .ft_btm .btm_right .cs_info .time > p {font-size: 0.63rem;}

    footer .ft_bg .ft_btm .btm_right .cs_info {background-size: 70px 40px;}  
}

@media screen and (max-width:799px){
    .h_bg header {padding: 0 15px;}
    /* =================================================== 메인헤더 모바일반응형*/
    .h_bg header .h_left > a img {display: block;}
    .h_bg header .h_left > nav {display: none;}
    .h_bg header .h_left .m_nav > nav .m_ul li a {display: inline-block;}

    main .contents_wrap {padding: 0 15px;}
    main .contents_wrap .title_bg .title h2 {text-align: left;}
    main .contents_wrap .title_bg .title .category {
        width: 410px; padding-right: 10px;
        display: flex; flex-flow: row wrap;
    }
    main .contents_wrap .title_bg .title .category > a {
        font-size: 0.81rem;
    }
    main .contents_wrap .title_bg .title .category > .active {padding: 10px;}

    main .contents_wrap .item_wrap ul li {
        width: calc((100% - 22px) / 2); 
        padding-bottom: 80px;
    }

    main .bnr1 {background-position: 75% center;}
    main .bnr1 .bnr_contents {
        left: 15px; top: 390px
    }
    main .bnr1 .coupon > .coupontxt {font-size: 1.06rem;}
    main .bnr1 .coupon h3 {font-size: 1.00rem;}

    main .bnr2 {background-position: 80% center;}
    main .bnr2 .bnr_contents {margin: 0 15px;}

    footer .ft_bg {padding:0 15px;}
    footer .ft_bg .ft_btm {flex-flow: row wrap;}
    footer .ft_bg .ft_top > a,
    footer .ft_bg .ft_btm .btm_left ul li,
    footer .ft_bg .ft_btm .btm_left > p,
    footer .ft_bg .ft_btm .btm_right > p,
    footer .ft_bg .ft_btm .btm_right .cs_info .time > p {font-size: 0.63rem;}

    footer .ft_bg .ft_btm .btm_right .cs_info {background-size: 70px 40px;}

}